.key{
  width: 30px;
  height: 30px;
  background-color: #e1e800;
  border-radius: 6px;
  margin: 0 3px;
  border: none;
}

.keyboardGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25px 100px;
    grid-gap: 10px;
}
 
.kbrow1 {
  grid-column: 2 / 4;
  grid-row: 1;
}

.kbrow2 {
  grid-column: 2 / 4;
  grid-row: 2;
}

.kbrow3 {
  grid-column: 2 / 4;
  grid-row: 3;
}

.kbrow4 {
  grid-column: 2 / 4;
  grid-row: 4;
}


.spaceBar {
  grid-column: 2 / 4;
  grid-row: 5;
}